<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<base href="/">
		<link rel="stylesheet" href="css/style.css" />
		<%- include('./partials/favicon.ejs') %>
		<title>Base</title>
	</head>
	<body class="bg-soundwave">
		<nav>
			<a href="/" class="nav">Return Home</a>
		</nav>
		
			<div class="card-container-1 container-lg my-5 card-shadow">
				<div class="card card_top">
					<div class="card-body">
					  <h2 class="card-title main-h2">What is this Site?</h2>
					  <h5 class="text-muted">Overview</h5> 
					  <p>This site is a little app build in node js on the express framework.</p>
					  <p>It shows on a very basic level many of the possibilities of what u can do in node js on the back end. <br> 
							A lot of different technologies were used here: Node, Express and even Websockets and WebRTC
					  </p>
					  <a href="#" class="btn home-link2">Main Menu</a>
					</div>
				</div>
	
				<div class="lists mt-5  card card_top">
					<div class="card-body">
						<h2 class="card-title main-h2 mb-3">Projects to explore</h2>
						<div class="d-flex justify-content-between">
							
							<div class="card" style="width: 45%;">
								<div class="card-header">
								  Main Apps
								</div>
								<ul class="list-group list-group-flush">
								  <li class="list-group-item">Webchat App</li>
								  <li class="list-group-item">Videochat</li>
								  <li class="list-group-item">Talking Board</li>
								</ul>
							  </div>
		
							<div class="card" style="width: 45%;">
								<div class="card-header">
								  FCC Projects
								</div>
								<ul class="list-group list-group-flush">
								  <li class="list-group-item">Timestamps</li>
								  <li class="list-group-item">Header Parser</li>
								  <li class="list-group-item">Url Shortener</li>
								  <li class="list-group-item">Exercise Tracker</li>
								  <li class="list-group-item">File metadata Microservice</li>
								</ul>
							</div>
	
						</div>
					</div>



				
				</div>

			</div>


		</div>


		  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="js/base.js"></script>
	</body>
</html>