<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <base href="/">
  <link rel="stylesheet" href="css/style.css">
  <%- include('./partials/favicon.ejs') %>
  <title>Node Magic</title>
</head>
<body>
    <nav class="posts-nav">
        <a href="/" class="nav">Return Home</a>


    </nav>

    <div class="container">
        
        <h1 class="h1-post">Post something!</h1>
        <h5 class="h5-post">Just fill out the form, click the button and wait for your post to show up!</h5>
        <h6 class="h6-post">See <a href="/DB/#info-db-section">below</a> for more info || PS: Sometimes you'll have to <a href="/DB"> reload </a> see your post.</h6>

        <form action="/DB/data" class="form-styling" method="post" id="post-form" >
            
            <label for="user" class="form-label">User</label>
            <input type="text"  id="" name="user" required class="form-control">
            
            <label for="content" class="form-label">Content</label>
            <textarea name="content" required class="form-control" style="resize: none;"></textarea>
            
            <button class="submit-button-post">Post !</button>
        </form>

        <div class="posts">
            <!--render all posts-->

            <% posts.forEach((post) => { %>
                
                <div class="post">
                    <h4 class="username">User : <%= post.user %></h4>
                    <p class="content"><%= post.content %></p>
                </div>
            
            <% }) %>
        
        </div>

        <div class="info-section" id="info-db-section">
            <h3>Overview</h3>
            <p>This page works as follows:</p>
            <ul >
                <li>Data from the html form gets posted to the /DB/data route</li>
                <li class="list-item-info">Middleware from the backend uploads data from said route into a connected Database</li>
                <li class="list-item-info">The view engine (here: ejs) renders data from the collection into 'cards' or 'posts'</li>
                <li class="list-item-info">PS: You can also see the raw post data here: <a href="/DB/data">/data</a></li>
            </ul>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>