<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <base href="/">
  <link rel="stylesheet" href="css/style.css">
  <%- include('./partials/favicon.ejs') %>
  <title>FCC Projects</title>
</head>
<body>
    <nav>
        <a href="#" class="nav">Return Home</a>
    </nav>

    <div class="container">
        <h1 class="index-header">A list of the 5 projects for the backend certificate</h1>

        <button class="btn home-link" onclick="window.location.href = '/time'">
            <a href="/time">Timestamp Microservice</a>
        </button>

        <button class="btn home-link" onclick="window.location.href='/fcc/header-parser' " >
            <a href="/fcc/header-parser">Request Header Parser</a>
        </button>

        <button class="btn home-link" onclick="window.location.href='/fcc/url-shortener' " >
            <a href="/fcc/url-shortener">URL Shortener</a>
        </button>

        <button class="btn home-link" onclick="window.location.href='/fcc/tracker' " >
            <a href="/fcc/tracker">Exercise Tracker</a>
        </button>

        <button class="btn home-link" onclick="window.location.href='/fcc/meta' " >
            <a href="/fcc/meta">File Metadata Microservice</a>
        </button>

    </div>

</body>
</html>